<section class="main-wrapper">
  <div class="row">
    <div class="col-lg-8">
      <%= render "czegov_publishing_components/components/title", {
        title: info.name,
        margin_bottom: 4
      } %>

      <p class="body">Tato služba slouží k:</p>

      <ul class="list list--bullet">
        <% info.purposes.each do |purpose| %>
        <li><%= purpose %></li>
        <% end %>
      </ul>

      <% info.description.each do |desc| %>
      <p class="body"><%= desc %></p>
      <% end %>

      <%= render "czegov_publishing_components/components/button", {
        text: "Spustit službu",
        href: info.path,
        start: "true",
        rel: "external"
      } %>

      <p class="small">Vyplnění tohoto formuláře bude trvat okolo 3 minut.</p>

      <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="before-start-tab" data-toggle="tab" href="#before-start" role="tab" aria-controls="before-start" aria-selected="true" tabindex="0">Než začnete</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="must-know-tab" data-toggle="tab" href="#must-know" role="tab" aria-controls="must-know" aria-selected="false" tabindex="-1">Co dál musíte vědět</a>
        </li>
      </ul>
      <div class="tab-content  pt-3" id="TabContent">
        <section class="tab-pane show active" id="before-start" role="tabpanel" aria-labelledby="before-start-tab">
          <h2 class="heading-m">Než začnete</h2>

          <ul class="list list--bullet">
            <li>K použití služby musíte být přihlášeni, <a href="/information_requests/login">přihlásit se</a></li>
            <li>Pokud byl formulář vytvořen, můžete si ho <a href="">znovu stáhnout</a></li>
          </ul>
        </section>
        <section class="tab-pane" id="must-know" role="tabpanel" aria-labelledby="must-know-tab">
          <h2 class="heading-m">Co dál musíte vědět</h2>
          <p class="body">Ujistěte se, že znáte:</p>

          <ul class="list list--bullet">
            <% info.prerequisities.each do |prereq| %>
            <li><%= prereq %></li>
            <% end %>
          </ul>
        </section>
      </div>
    </div>

    <div class="col-lg-3 offset-lg-1">
      <aside class="app-related-items" role="complementary">
        <h2 class="heading-m--aside" id="subsection-title">
          Kontakt
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="list">
            <li>E-mail:
              <a class="link" href="mailto:helpdesk@msp.justice.cz"><%= info.contacts.helpdesk %></a>
            </li>

            <li>Správce systému:
              <a class="link" href="mailto:helpdesk@msp.justice.cz">Bude doplněno</a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
</section>
