<%
person_number ||= 0
person ||= entity.insured_people && entity.insured_people[person_number]
person ||= InsuredPerson.new
%>
<div class="form-group">
  <fieldset class="fieldset" role="group">
    <legend><h3 class="mb-0">Jméno a příjmení</h3></legend>

    <%= render "czegov_publishing_components/components/input", {
      label: {
        text: page[:questions][0][:label]
      },
      name: "information_request[insured_people_attributes][#{person_number}][firstname]",
      value: person.firstname
    } %>

    <%= render "czegov_publishing_components/components/input", {
      label: {
        text: page[:questions][1][:label]
      },
      name: "information_request[insured_people_attributes][#{person_number}][lastname]",
      value: person.lastname
    } %>

    <%= render "czegov_publishing_components/components/input", {
      label: {
        text: page[:questions][2][:label]
      },
      name: "information_request[insured_people_attributes][#{person_number}][birth_lastname]",
      value: person.birth_lastname
    } %>

  </fieldset>
</div>

<div class="form-group">
  <fieldset class="fieldset" aria-describedby="expiry-hint" role="group">
    <legend class="fieldset__legend fieldset__legend--m"><h3 class="mb-0"><%= page[:questions][3][:label] %></h3>
    </legend>
    <span id="expiry-hint" class="hint">
      Například, 31 3 1980
    </span>
    <div class="date-input" id="expiry">
      <div class="date-input__item">
        <div class="form-group">
          <label class="label date-input__label" for="information_request[insured_people_attributes][<%= person_number %>][birth_date(3i)]">
            Den
          </label>
          <input class="form-control date-input__input input--width-2" id="expiry-day" name="information_request[insured_people_attributes][<%= person_number %>][birth_date(3i)]" type="number" pattern="[0-9]*" value="<%= person.birth_date.try('day') %>">
        </div>
      </div>
      <div class="date-input__item">
        <div class="form-group">
          <label class="label date-input__label" for="information_request[insured_people_attributes][<%= person_number %>][birth_date(2i)]">
            Měsíc
          </label>
          <input class="form-control date-input__input input--width-2" id="expiry-month" name="information_request[insured_people_attributes][<%= person_number %>][birth_date(2i)]" type="number" pattern="[0-9]*" value="<%= person.birth_date.try('month') %>">
        </div>
      </div>
      <div class="date-input__item">
        <div class="form-group">
          <label class="label date-input__label" for="information_request[insured_people_attributes][<%= person_number %>][birth_date(1i)]">
            Rok
          </label>
          <input class="form-control date-input__input input--width-4" id="expiry-year" name="information_request[insured_people_attributes][<%= person_number %>][birth_date(1i)]" type="number" pattern="[0-9]*" value="<%= person.birth_date.try('year') %>">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="form-group">
  <fieldset class="fieldset" aria-describedby="expiry-hint" role="group">
    <legend class="fieldset__legend fieldset__legend--m"><h3 class="mb-0"><%= page[:questions][4][:label] %></h3>
    </legend>
    <div class="text-input">
      <%= render "czegov_publishing_components/components/input", {
        label: {
          text: page[:questions][4][:label]
        },
        name: "information_request[insured_people_attributes][#{person_number}][birth_number]",
        value: person.birth_number
      } %>
    </div>
  </fieldset>
</div>

<div class="form-group">
  <fieldset class="fieldset" aria-describedby="expiry-hint" role="group">
    <legend class="fieldset__legend fieldset__legend--m"><h3 class="mb-0"><%= page[:questions][5][:label] %></h3>
    </legend>
    <div class="text-input">
      <%= render "czegov_publishing_components/components/input", {
        label: {
          text: page[:questions][5][:label]
        },
        name: "information_request[insured_people_attributes][#{person_number}][birth_place]",
        value: person.birth_place
      } %>
    </div>
  </fieldset>
</div>
