!!!
%html{lang: I18n.locale, dir: "ltr", xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, viewport-fit=cover"}    
    %meta{:http-equiv => "x-ua-compatible", :content => "ie=edge,chrome=1"}
    %meta{:theme-color => "#11457e"}

    %link{rel: "apple-touch-icon", href: "apple-touch-icon.png"}
    %link{rel: "apple-touch-icon", sizes: "57x57", href: "/apple-icon-57x57.png"}
    %link{rel: "apple-touch-icon", sizes: "60x60", href: "/apple-icon-60x60.png"}
    %link{rel: "apple-touch-icon", sizes: "72x72", href: "/apple-icon-72x72.png"}
    %link{rel: "apple-touch-icon", sizes: "76x76", href: "/apple-icon-76x76.png"}
    %link{rel: "apple-touch-icon", sizes: "114x114", href: "/apple-icon-114x114.png"}
    %link{rel: "apple-touch-icon", sizes: "120x120", href: "/apple-icon-120x120.png"}
    %link{rel: "apple-touch-icon", sizes: "144x144", href: "/apple-icon-144x144.png"}
    %link{rel: "apple-touch-icon", sizes: "152x152", href: "/apple-icon-152x152.png"}
    %link{rel: "apple-touch-icon", sizes: "180x180", href: "/apple-icon-180x180.png"}
    %link{rel: "shorcut icon", type: "image/x-icon", sizes: "192x192" , href: "/android-icon-192x192.png"}
    %link{rel: "shorcut icon", type: "image/x-icon", href: "favicon.ico"}
    %link{rel: "shorcut icon", type: "image/x-icon", sizes: "32x32", href: "/favicon-32x32.png"}
    %link{rel: "shorcut icon", type: "image/x-icon", sizes: "96x96", href: "/favicon-96x96.png"}
    %link{rel: "shorcut icon", type: "image/x-icon", sizes: "16x16", href: "/favicon-16x16.png"}

    //commented because no og
    / %meta{:property => "og:type", :content ="government"}
    / %meta{:property => "og:title", :content => "Intranet Ministerstva spravedlnosti"}
    / %meta{:property => "og:site_name", :content => "Intranet Ministerstva spravedlnosti"}
    / %meta{:property => "og:description", :content => "Rozvíjíme IT státní správy koncepčně."}
    / %meta{:property => "og:locale", :content => "cs_CZ"}
    / %meta{:property => "og:street-address", :content => "Vyšehradská 16"}
    / %meta{:property => "og:locality", :content => "Praha"}
    / %meta{:property => "og:logo", :content =>"" size="307x59"}

    %title= content_for?(:title) ? yield(:title) : t(:app_name)
    %meta{:name => "description", :content => content_for?(:description) ? yield(:description) : t(:app_description)}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = javascript_pack_tag 'application'
    = i18n_js_set_locales_tag
    = csrf_meta_tags
    = google_analytics_snippet unless internal_network?
    /[if IE 9]
      %link{href: "https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css", rel: "stylesheet"}
      %script{src: "https://cdn.jsdelivr.net/g/html5shiv@3.7.3"}
    /[if lte IE 8]
      %link{href: "https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css", rel: "stylesheet"}
      %script{src: "https://cdn.jsdelivr.net/g/html5shiv@3.7.3"}
      = stylesheet_link_tag 'czegov_frontend/bootstrap-ie8', media: 'all', 'data-turbolinks-track' => 'reload'
  %body
    = render 'czegov_template/cookies-bar'
    = render 'czegov_template/skippy'
    = render 'czegov_publishing_components/components/phase_banner', phase: 'nové'
    %header.header{role: 'banner'}
      = render 'czegov_template/navigation'
    %div.container
      %main.wrapper#content{role: 'main'}
        = render 'layouts/egov_utils/messages'
        = content_for?(:content) ? content_for(:content) : yield
        = render 'czegov_template/contacts-footer' unless current_page?(root_path)
