!!!
%html{lang: I18n.locale}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : t(:app_name)
    %meta{:name => "description", :content => content_for?(:description) ? yield(:description) : t(:app_description)}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = javascript_pack_tag 'application'
    = i18n_js_set_locales_tag
    = csrf_meta_tags
    = google_analytics_snippet unless internal_network?
    /[if IE 9]
      %link{href: "https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css", rel: "stylesheet"}
    /[if lte IE 8]
      %link{href: "https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css", rel: "stylesheet"}
      %script{src: "https://cdn.jsdelivr.net/g/html5shiv@3.7.3"}
      = stylesheet_link_tag 'czegov_frontend/bootstrap-ie8', media: 'all', 'data-turbolinks-track' => 'reload'
  %body
    = render 'czegov_template/skippy'
    = render 'czegov_publishing_components/components/phase_banner', phase: 'nové'
    %header.header{role: 'banner'}
      = render 'czegov_template/navigation'
    %div.container
      %main.wrapper#content{role: 'main'}
        = render 'layouts/egov_utils/messages'
        = content_for?(:content) ? content_for(:content) : yield
        = render 'information_requests/contacts-footer' unless current_page?(root_path)
    = render 'cookies_eu/consent_banner'
