!!!
%html{lang: I18n.locale}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : t(:app_name)
    %meta{:name => "description", :content => content_for?(:description) ? yield(:description) : t(:app_description)}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = javascript_pack_tag 'application'
    = i18n_js_set_locales_tag
    = csrf_meta_tags
    = google_analytics_snippet unless internal_network?
  %body
    = render 'czegov_template/skippy'
    = render 'czegov_publishing_components/phase_banner', phase: 'alpha'
    %header.header{role: 'banner'}
      = render 'czegov_template/navigation'
    %main#container{role: 'main'}
      #content.container
        = render 'layouts/egov_utils/messages'
        = content_for?(:content) ? content_for(:content) : yield
    = render 'cookies_eu/consent_banner'
